body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

